/* CROP PROPERTIES */

.hidden_properties {
 display: none;
}

/* + znaczy, że działa tylko na kolejnym następnym .hidden_properties po tym elemencie */
.show_properties:hover + .hidden_properties {
 display: block;
 color: red;
}
