<p><b>{% if interaction.0.get_cname == "Crop" %}<a href="{% url 'crop' interaction.0.id %}">
      {% elif interaction.0.get_cname == "CropFamily" %}<a href="{% url 'family' interaction.0.id %}">
      {% elif interaction.0.get_cname == "CropTag" %}<a href="{% url 'tag' interaction.0.id %}">{% endif %}
  {{ interaction.0.name }}</a></b> {% if interaction.1.is_positive %} $dobrze oddziaływuje na {% else %} $szkodzi {% endif %}
  {% if interaction.2 == "crop" %} {{ crop.name }} {% elif interaction.2 == "family" %} {% if crop.family.is_family_slave %}{{ crop.family.family_master.name }}
  {% else %}{{ crop.family.name }} {% endif %} {% else %} <a href="{% url 'tag' interaction.3.id %}"><b>{{ interaction.3.name }}</b></a> {% endif %}
  - $Typ oddziaływania:.
  {% if interaction.1.type_of_interaction == 0 %}
   $Współrzędne
  {% elif interaction.1.type_of_interaction == 1 %}
   $Współrzędne i następcze lub allelopatyczne.
  {% else %}
   $Następcze
  {% endif %}
  {% if interaction.1.season_of_interaction == 1 %}
   $Jare/Wczesne
  {% elif interaction.1.season_of_interaction == 2 %}
   $Ozime/Późne
  {% endif %}

  <button class="show_properties2" value="2">$Źródło</button></p>
  <div class="hidden_properties">
<p>{{ interaction.1.info_source.at_data_string.part1 }}{% if interaction.1.info_source.pages_from %}
  {% if interaction.1.info_source.pages_to %}pp. {{ interaction.1.info_source.pages_from }}-{{ interaction.1.info_source.pages_to }}
  {% else %} p.{{ interaction.1.info_source.pages_from }}.
  {% endif %}
{% endif %}</p>
</div>
