{% if interaction.is_positive %} $dobrze oddziaływuje na {% else %} $szkodzi {% endif %}
  {% if interaction.about_crop %}<a href="{% url 'crop' interaction.about_crop.id %}"><b>{{ interaction.about_crop.name }}</b></a>
  {% elif interaction.about_family %}<a href="{% url 'family' interaction.about_family.id %}"><b>{{ interaction.about_family.name }}</b></a>
  {% else %}<a href="{% url 'tag' interaction.about_tag.id %}"><b>{{ interaction.about_tag.name }}</b></a> {% endif %}
   - $Typ oddziaływania:
   {% if interaction.type_of_interaction == 0 %}
    $Współrzędne
   {% elif interaction.type_of_interaction == 1 %}
    $Współrzędne i następcze lub allelopatyczne.
   {% else %}
    $Następcze
   {% endif %}
   {% if interaction.season_of_interaction == 1 %}
    $Jare/Wczesne
   {% elif interaction.season_of_interaction == 2 %}
    $Ozime/Późne
   {% endif %}

  <button class="show_properties2" value="2">$Źródło</button></p>
  <div class="hidden_properties">
    <p>{{ interaction.info_source.at_data_string.part1 }}{% if interaction.info_source.pages_from %}
      {% if interaction.info_source.pages_to %}pp. {{ interaction.info_source.pages_from }}-{{ interaction.info_source.pages_to }}
      {% else %} p.{{ interaction.info_source.pages_from }}.
      {% endif %}
    {% endif %}</p>
  </div>
