<p>{{ crop.name }}{% if interaction.is_positive %} $dobrze współgra z {% else %} $szkodzi {% endif %} {{ interaction.about_crop.name }} - <span class="myDIV">$Źródło (onhover)</span></p>
<p class="hide">{{ interaction.info_source.at_data_string.part1 }}{% if interaction.info_source.pages_from %}
  {% if interaction.info_source.pages_to %}pp. {{ interaction.info_source.pages_from }}-{{ interaction.info_source.pages_to }}
  {% else %} p.{{ interaction.info_source.pages_from }}.
  {% endif %}
{% endif %}</p>
