<p><b><a href="{% url 'tag' interaction.0.id %}">{{ interaction.0.name }}</a></b> {% if interaction.1.is_positive %} $dobrze oddziaływuje na {% else %} $szkodzi {% endif %}
  {% if interaction.1.about_crop %}<a href="{% url 'crop' interaction.1.about_crop.id %}"><b>{{ interaction.1.about_crop.name }}</b></a>
  {% elif interaction.1.about_family %}<a href="{% url 'family' interaction.1.about_family.id %}"><b>{{ interaction.1.about_family.name }}</b></a> {% endif %}
  - $Typ oddziaływania:.
  {% if interaction.1.type_of_interaction == 0 %}
   $Współrzędne
  {% elif interaction.1.type_of_interaction == 1 %}
   $Współrzędne i następcze lub allelopatyczne.
  {% else %}
   $Następcze
  {% endif %}
  {% if interaction.1.season_of_interaction == 1 %}
   $Jare/Wczesne
  {% elif interaction.1.season_of_interaction == 2 %}
   $Ozime/Późne
  {% endif %}

  <button class="show_properties2" value="2">$Źródło</button></p>
  <div class="hidden_properties">
<p>{{ interaction.1.info_source.at_data_string.part1 }}{% if interaction.1.info_source.pages_from %}
  {% if interaction.1.info_source.pages_to %}pp. {{ interaction.1.info_source.pages_from }}-{{ interaction.1.info_source.pages_to }}
  {% else %} p.{{ interaction.1.info_source.pages_from }}.
  {% endif %}
{% endif %}</p>
</div>
