<div class="container">
  <div class="row">
    <hr />
    <br />
        <div class="col-md-4 shdwn">
        {% with  master_slice1=ml1|stringformat:"s" %}
        {% with  msl=":"|add:master_slice1 %}
        {% for family in families|slice:msl %}
          <p><a href="{% url redir family.id %}">{{ family.name }}</a></p>
        {% endfor %}
        {% endwith %}
        {% endwith %}
        </div>
        <div class="col-md-4 shdwn">
        {% with  master_slice1=ml1|stringformat:"s" %}
        {% with  middleman=master_slice1|add:":" %}
        {% with  master_slice2=ml2|stringformat:"s" %}
        {% with  msl=middleman|add:master_slice2 %}
        {% for family in families|slice:msl %}
          <p><a href="{% url redir family.id %}">{{ family.name }}</a></p>
        {% endfor %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        </div>
        <div class="col-md-4 shdwn">
        {% with  master_slice2=ml2|stringformat:"s" %}
        {% with  msl=master_slice2|add:":" %}
        {% for family in families|slice:msl %}
          <p><a href="{% url redir family.id %}">{{ family.name }}</a></p>
        {% endfor %}
        {% endwith %}
        {% endwith %}
        </div>
    <br />
    </div>
  </div>
