- {{ translatables.infl_type }}:
{% if interaction.1.type_of_interaction == 0 %}
 {{ translatables.companion }}
{% elif interaction.1.type_of_interaction == 1 %}
 {{ translatables.allelopatic }}
{% else %}
 {{ translatables.following }}
{% endif %}
{% if interaction.1.season_of_interaction == 1 %}
 {{ translatables.annual }}
{% elif interaction.1.season_of_interaction == 2 %}
 {{ translatables.perennial }}
{% endif %}

<button class="show_properties2" value="2">{{ translatables.source_button }}</button></p>
<div class="hidden_properties">
<p>{{ interaction.1.info_source.at_data_string.part1 }}{% if interaction.1.info_source.pages_from %}
{% if interaction.1.info_source.pages_to %}pp. {{ interaction.1.info_source.pages_from }}-{{ interaction.1.info_source.pages_to }}
{% else %} p.{{ interaction.1.info_source.pages_from }}.
{% endif %}
{% endif %}</p>
</div>
