{% extends 'base.html' %}
{% load static %}

<!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <form method="post">
            {% csrf_token %}

            {% if form.errors %}
            <p>Formularz zawiera błędy! Hasło nie może być zbyt proste.</p>
            {% endif %}

            <p>{{ item.name }} {{ form.first_name }}</p>
            <p>{{ item.email }} {{ form.email }}</p>
            <p>{{ item.password }} {{ form.password1 }}</p>
            <p>{{ item.re_password }} {{ form.password2 }}</p>
            <!--Weź zrób tak, żeby się nie dało zarejestrować jak masz poniżej 15 rż. -->
            <p>{{ item.age }} {{ form.age }}</p>

            <p>{{ item.gender }}  <select id="Genderselector">
              <option value ="None" disabled>{{ item.list_select }}:</option>
              <option value ="0">{{ item.other }}</option>
              <option value ="1">{{ item.male }}</option>
              <option value ="2">{{ item.female }}</option>
            </select></p>

            <p>{{ form.gender }}</p>
            <input id="send" class="button" type="submit" value="{{ items.register }}">
          </form>
        </div>
      </section>
    </main>

    {% endblock body%}
    {% endblock aside %}

    {% block scripts %}
    <script src="{% static "assets/js/jquery.js" %}"></script>
    <script src="{% static "genderchange.js" %}"></script>
    {% include 'forms/widgets/date_event_notime.html' %}
    {% endblock %}

    {% block scripts2 %}
    {% endblock %}
