{% load static %}
{% load xfilters %}

 <div>
  {% if allelopatic %}
    {% shallow_list step_no=step.order search_by=crop.id from_context=allelopatic as allelopaticity %}
    {% if allelopaticity %}
      <p>Konflikt na tle allelopatycznym. {{ crop.name }} szkodzi {{ allelopaticity.name }}!</p>
    {% endif %}
  {% endif %}

  {% if interactions %}
    {% complex_list step_no=step.order search_by=crop.id subject_type=1 from_context=interactions as complexity %}
    {% if complexity %}
      {% if complexity.1 %}
        <p>{{ crop.name }} dobrze współgra z {{ complexity.0.name }} w kroku {{ complexity.2 }}</p>
      {% else %}
        <p>{{ crop.name }} szkodzi {{ complexity.0.name }} w kroku {{ complexity.2 }}</p>
      {% endif %}
    {% endif %}
  {% endif %}

  

  {% if allelopatic_f %}
    {% shallow_list step_no=step.order search_by=crop.id from_context=allelopatic_f as allelopaticity_f %}
    {% if allelopaticity_f %}
      <p>Konflikt na tle allelopatycznym. {{ crop.name }} szkodzi {{ allelopaticity_f.name }}!</p>
    {% endif %}
  {% endif %}
  {% if synergic_f %}
    {% shallow_list step_no=step.order search_by=crop.id from_context=synergic_f as synergism_f %}
    {% if synergism_f %}
      <p>{{ crop.name }} dobrze współgra z {{ synergism_f.name }}</p>
    {% endif %}
  {% endif %}

  <p><b>{{ crop.name }}  </b><button class="show_properties2" value="2">Info</button><p>
  <div class="hidden_properties">
    <p>Rodzina: {{ crop.family }}</p>
    {% if crop.descr %}
     <p>Uwagi: {{ crop.descr }}
    {% endif %}
    {% if crop.image %}s
     <p><img src="{{ crop.image.url }}" alt="crop_image" height="200" width="auto"></img></p>
    {% endif %}
  </div>
</div>

<!--Tutaj idą dodatkowe cechy plonu głównego w tym rzeczy typu onhover -->
  <p> <!--Tan tag zostaw otwarty, bo go potem zamyka error tag. -->
