<hr/>
<div class="row">
  <div class="col-md-6">{{ items.of_steps }}: {{ plan.2 }}</div>
  <div class="col-md-6">{{ items.of_plants }}: {{ plan.3 }}</div>
</div>
<hr/>
{% for item in plan.1 %}
<p>{{ item.0.name }} - {{ item.1 }}</p>
{% endfor %}
{% if plan.1 %}
<hr/>
{% endif %}
