{% load static %}
{% load xfilters %}

{% error_tab step_no=step.order as is_tab_error %}
{% if is_tab_error %}
    {% deep_list step_no=step.order search_by=crop.id search_pos=1 searched_item=4 as d_list %}
    {% if crop.id == d_list.0.id %}
      <p><b>{{ d_list.0.name }} - POWODUJE KOLIZJĘ z {{ d_list.1.name }} w kroku {{ d_list.2 }} ! </b><p>
    {% else %}
      <p>{{ crop.name }}</p>
      <!--Tutaj idą dodatkowe cechy plonu głównego w tym rzeczy typu onhover -->
    {% endif %}
{% else %}
  <p>{{ crop.name }}</p>
  <!--Tutaj idą dodatkowe cechy plonu głównego w tym rzeczy typu onhover -->
{% endif %}
