
{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ items.about }}</title>
{% endblock %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{ items.about }}</h1>
      <br>
       <div class="row featurette">
        <div class="col-md-4">
          <p>{{ about_us.curr_prog_includes }}:</p>
          <p>{{ about_us.over }} <b>{{ num_crops }}</b> {{ about_us.plants }}</p>
          <p>{{ about_us.coming_from }} <b>{{ num_families }}</b> {{ about_us.families }}</p>
          <p>{{ about_us.marked_by }} <b>{{ num_categories }}</b> {{ about_us.categories }}</p>
          <p>{{ about_us.and_over }} <b>{{ num_interactions }}</b> {{ about_us.unique_interactions }}</p>
          <p>{{ about_us.described_by }} <b>{{ num_sources }}</b> {{ about_us.sources }}</p>
        </div>
        <div class="col-md-8">
        <p class="lead text-muted">{{ about_us.about_project|linebreaksbr }}</p>
        </div>
      </div>
      {% if user.is_authenticated %}
      <div class="row featurette">
        <div class="col-md-4">
          <a href="mailto:jakub.kozdrowicz@gmail.com" class="btn btn-secondary my-3">{{ about_us.send_email }}</a>
        </div>
        <div class="col-md-4">
        <a href="{{ items.gitter_link }}" class="btn btn-primary my-3">{{ about_us.gitter }}</a>
        </div>
        <div class="col-md-4">
          <a href="{{ items.git_link }}" class="btn btn-secondary my-3">{{ about_us.github }}</a>
        </div>
      </div>
      {% else %}
        <a href="{% url 'logger' %}" class="btn btn-secondary my-3">{{ about_us.login_to_see }}</a>
      {% endif %}
    </div>
  </section>
</main>
{% endblock %}
{% endblock aside %}
