
{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ items.about }}</title>
{% endblock %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{ items.about }}</h1>
      <br>
       <div class="row featurette">
        <div class="col-md-4">
          <p>{{ about_us.curr_prog_includes }}:</p>
          <p>{{ about_us.over }} <b>{{ num_crops }}</b> <a href="{% url 'all_crops'%}"><b>{{ about_us.plants }}</b></a></p>
          <p>{{ about_us.coming_from }} <b>{{ num_families }}</b> <a href="{% url 'all_plant_families'%}"><b>{{ about_us.families }}</b></a></p>
          <p>{{ about_us.marked_by }} <b>{{ num_categories }}</b> <a href="{% url 'all_tags'%}"><b>{{ about_us.categories }}</b></a></p>
          <p>{{ about_us.and_over }} <b>{{ num_interactions }}</b> {{ about_us.unique_interactions }}</p>
          <p>{{ about_us.described_by }} <b>{{ num_sources }}</b> <a href="{% url 'about_sources'%}"><b>{{ about_us.sources }}</b></a></p>
        </div>
        <div class="col-md-8">
        <p class="lead text-muted">{{ about_us.about_project|linebreaksbr }}</p>
        {% if user.is_authenticated %}
        <div class="row featurette">
          <div class="col-md">
            <a href="mailto:jakub.kozdrowicz@gmail.com" class="btn btn-secondary my-3">{{ about_us.send_email }}</a>
          </div>
          <div class="col-md">
          <a href="https://github.com/Bahusson/crop_rotator" class="btn btn-primary my-3">{{ about_us.github }}</a>
          </div>
        </div>
        {% else %}
          <a href="{% url 'logger' %}" class="btn btn-secondary my-3">{{ about_us.login_to_see }}</a>
        {% endif %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
{% endblock aside %}
