{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ items.all_plants }}</title>
{% endblock %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}

<br>
<br>
<br>
    <main role="main">
      <div class="row">
        <div class="col-md-12 blog-main">
          <h1 class="text-center pt-3 ">{{ items.all_plants }}</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <hr />
          <br />
              <div class="col-md-4 shdwn">
              {% with  master_slice1=ml1|stringformat:"s" %}
              {% with  msl=":"|add:master_slice1 %}
              {% for family in families|slice:msl %}
                <p><a href="{% url 'family' family.id %}">{{ family.name }}</a></p>
              {% endfor %}
              {% endwith %}
              {% endwith %}
              </div>
              <div class="col-md-4 shdwn">
              {% with  master_slice1=ml1|stringformat:"s" %}
              {% with  middleman=master_slice1|add:":" %}
              {% with  master_slice2=ml2|stringformat:"s" %}
              {% with  msl=middleman|add:master_slice2 %}
              {% for family in families|slice:msl %}
                <p><a href="{% url 'family' family.id %}">{{ family.name }}</a></p>
              {% endfor %}
              {% endwith %}
              {% endwith %}
              {% endwith %}
              {% endwith %}
              </div>
              <div class="col-md-4 shdwn">
              {% with  master_slice2=ml2|stringformat:"s" %}
              {% with  msl=master_slice2|add:":" %}
              {% for family in families|slice:msl %}
                <p><a href="{% url 'family' family.id %}">{{ family.name }}</a></p>
              {% endfor %}
              {% endwith %}
              {% endwith %}
              </div>
          <br />
          </div>
        </div>
    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->

{% endblock %}
{% endblock aside %}
