{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Wszystkie aktualności - Roboczy</title>
{% endblock %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}

    <main role="main kol">
      <div class="row kol">
        <div class="container kol">
        {% for plan in rotation_plans %}
          <hr class="featurette-divider">
           <div class="row featurette kol">
             <div class="col-md-5 kol">
               <a href="{% url 'plan' plan.id %}"><img class="imgshdw float-left img-fluid" src="{{ skin.planimagedefault.url }}" /></a>
             </div>
             <div class="col-md-7 kol">
               <!-- Tutaj gdzieś dodaj soil type -->
               <a href="{% url 'plan' plan.id %}"><h2 class="featurette-heading title">{{ plan.title }}</h2></a> <h5 class="text-muted">{{ plan.pubdate_short }}</h5>
               <a href="{% url 'plan' plan.id %}">Czytaj dalej...-roboczy</a>
             </div>
           </div>
        {% endfor %}
        </div>
      </div><!-- /.row -->
    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->
{% endblock %}
{% endblock aside %}
