{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ items.all_plans }}</title>
{% endblock %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}

    <main role="main kol">
      <div class="row kol">
        <div class="container kol">
        {% for plan in rotation_plans %}
          <hr class="featurette-divider">
           <div class="row featurette kol">
             <div class="col-md-5 kol">
               {% include "strona/plan_parts/plan_summary.html" %}
             </div>
             <div class="col-md-7 kol">
               <!-- Tutaj gdzieś dodaj soil type -->
               <a href="{% url 'lurk_plan' plan.0.id %}"><h2 class="featurette-heading title">{{ plan.0.title }}</h2></a> <h5 class="text-muted">{{ plan.0.pubdate_short }}</h5>
               <a href="{% url 'lurk_plan' plan.0.id %}">{{ items.see_more }}</a>
             </div>
           </div>
        {% endfor %}
        </div>
      </div><!-- /.row -->
    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->
{% endblock %}
{% endblock aside %}
