{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ crop.name }}</title>
{% endblock %}

{% block css %}
<link href="{% static 'assets/css/crop_properties.css' %}" rel="stylesheet">
{% endblock css %}
 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}

<br>
<br>
<br>
    <main role="main">
      <div class="row">
        <div class="col-md-12 blog-main">
          <div class="container">
            <h1 class="text-center pt-3 ">{{ crop.name }}</h1>
            <h4 class="text-center pt-2">{{ crop.latin_name }}</h4>
            <hr />
            {% if crop.image %}<!--jeśli jest link to go wyświetl -->
                <br/>
                <img class="img-fluid" src="{{ crop.image.url }}" width=50% height=auto />
                <br>
                <span><b>{{ translatables.image_source }}: {% if crop.image_source.link  %}<a href="{{ crop.image_source.link }}"> {% endif %}{{ crop.image_source.part1 }}</b>{% if crop.image_source.link %}</a>{% endif %}</span>
            {% endif %}
            <br />
            <p>{{ translatables.family }}: <a href="{% url 'family' crop.family.id %}">{{ family }}</a></p>
            <p>{{ translatables.descr }}: {{ crop.descr|linebreaksbr }}</p>
            {% for source in sources %}
              {% if source.descr %}<p>{{ source.descr|linebreaksbr }}({{ forloop.counter }})</p>{% endif %}
            {% endfor %}
            <p>{{ translatables.sources }}:</p>
              {% for source in sources %}
                <p>({{ forloop.counter }}){{ source.at_data_string.part1 }}{% if source.pages_from %}
                  {% if source.pages_to %}pp. {{ source.pages_from }}-{{ source.pages_to }}
                  {% else %} p.{{ source.pages_from }}.
                  {% endif %}
                {% endif %}</p>
              {% endfor %}
            <hr />
            <h4 class="pt-2">$Znane interakcje</h4>

            {% if crop_from %}
            <p><b>$Roślina oddziaływuje na inne:</b></p>
            {% for interaction in crop_from %}
              <p>{{ crop.name }}{% if interaction.is_positive %} $dobrze oddziaływuje na {% else %} $szkodzi {% endif %}
                {% if interaction.about_crop %}{{ interaction.about_crop.name }}
                {% elif interaction.about_family %} {{ interaction.about_family.name }}
                {% else %} {{ interaction.about_tag.name }} {% endif %}
                 - $Typ oddziaływania:
                 {% if interaction.type_of_interaction == 0 %}
                  $Współrzędne
                 {% elif interaction.type_of_interaction == 1 %}
                  $Współrzędne i następcze lub allelopatyczne.
                 {% else %}
                  $Następcze
                 {% endif %}
                 {% if interaction.season_of_interaction == 1 %}
                  $Jare/Wczesne
                 {% elif interaction.season_of_interaction == 2 %}
                  $Ozime/Późne
                 {% endif %}

                <button class="show_properties2" value="2">$Źródło</button></p>
                <div class="hidden_properties">
                  <p>{{ interaction.info_source.at_data_string.part1 }}{% if interaction.info_source.pages_from %}
                    {% if interaction.info_source.pages_to %}pp. {{ interaction.info_source.pages_from }}-{{ interaction.info_source.pages_to }}
                    {% else %} p.{{ interaction.info_source.pages_from }}.
                    {% endif %}
                  {% endif %}</p>
                </div>



            {% endfor %}
            {% endif %}
            {% if crop_to %}
            <p><b>$Inne oddziaływują na roślinę:</b></p>
            {% for interaction in crop_to %}
              <p>{{ interaction.0.name }} {% if interaction.1.is_positive %} $dobrze oddziaływuje na {% else %} $szkodzi {% endif %} {{ crop.name }}
                - $Typ oddziaływania:
                {% if interaction.1.type_of_interaction == 0 %}
                 $Współrzędne
                {% elif interaction.1.type_of_interaction == 1 %}
                 $Współrzędne i następcze lub allelopatyczne.
                {% else %}
                 $Następcze
                {% endif %}
                {% if interaction.1.season_of_interaction == 1 %}
                 $Jare/Wczesne
                {% elif interaction.1.season_of_interaction == 2 %}
                 $Ozime/Późne
                {% endif %}

                <button class="show_properties2" value="2">$Źródło</button></p>
                <div class="hidden_properties">
              <p>{{ interaction.1.info_source.at_data_string.part1 }}{% if interaction.1.info_source.pages_from %}
                {% if interaction.1.info_source.pages_to %}pp. {{ interaction.1.info_source.pages_from }}-{{ interaction.1.info_source.pages_to }}
                {% else %} p.{{ interaction.1.info_source.pages_from }}.
                {% endif %}
              {% endif %}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% if crop_family_from %}
            <p><b>$Rodzina rośliny oddziaływuje na inne</b></p>

            {% endif %}
            {% if crop_family_to %}
            <p><b>$Inne oddziaływują na rodzinę rośliny</b></p>

            {% endif %}
            {% if crop_tags_from %}
            <p><b>$Kategorie rośliny oddziaływują na inne</b></p>

            {% endif %}
            {% if crop_tags_to %}
            <p><b>$Inne oddziaływują na kategorie rośliny</b></p>

            {% endif %}

          </div>
        </div>
      </div><!-- /.row -->

    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->

{% endblock %}
{% endblock aside %}

{% block scripts %}
<script>
$(".show_properties2").click(function(event){
    var button_triger = $(event.target);
    var closest = button_triger.closest("p").nextAll(".hidden_properties").first();
    $(closest).toggle();
 });
 </script>
{% endblock scripts %}
