{% extends 'base.html' %}
{% load static %}

<!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}

<!-- POCZĄTEK AKTUALNÓŚĆ -->
<h6 class="strong ">{{ items.news }}</h6>
<div class="news jumbotron">
<div class="row">

{% for plan in rotation_plans%}
<!-- Iterator aktualności -->
{% if plan %}
<div class="col-md-3 shdwn">
    <div class="col">
        <div class="desc ">
            <h4 class="head-news"><a href="{% url 'lurk_plan' plan.0.id %}">{{ plan.0.title }}</a></h4>
            {% include "strona/plan_parts/plan_summary.html" %}
        </div>
    </div>
</div>
<!--text-->
{% endif %}
{% endfor %}
<!-- Koniec iteratora aktualności -->

</div>
<!-- BUTTON -->

<button type="button" class="btn btn-light btn-sm float-right linkname2">
     <a href="{% url 'allplans' %}" >{{ items.see_more }} >>> </a>
</button>

<!--KONIEC BUTTONA -->
<!-- KONIEC AKTUALNOŚCI -->
</div>

{% endblock %}
{% endblock aside %}
