{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ items.new_plan }}</title>
{% endblock %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}

<br>
<br>
<br>
    <main role="main">
      <h2>{{ items.new_plan }}</h2>
      <div class="row">
        <div class="col-md-4 shdwn">
          {% for plan in user_plans|slice:":4" %}
          {% include 'strona/user_plan_parts/plan_entry.html' %}
          {% endfor %}
        </div>
        <div class="col-md-4 shdwn">
          {% for plan in user_plans|slice:"4:8" %}
          {% include 'strona/user_plan_parts/plan_entry.html' %}
          {% endfor %}
        </div>
        <div class="col-md-4 shdwn">
          {% for plan in user_plans|slice:"8:12" %}
          {% include 'strona/user_plan_parts/plan_entry.html' %}
          {% endfor %}
        </div>
      </div><!-- /.row -->
      <div class="container kol">
    {% if user_limit %}
    <p> $Osiągnąłeś limit 12 planów zmianowania na użytkownika.
      Limit został nałożony w celu przeciwdziałania aktywności złośliwych botów.
      Jeśli nie jesteś Botem, to bardzo Cię przepraszam za niedogodność.
      Skasuj już niepotrzebne plany, lub załóż swoje nowe anonimowe konto.
    </p>
    {% else %}
      <form enctype="multipart/form-data" method="post"> <!-- Do wysyłania plików -->
      {% csrf_token %}

      <p class="wnioski2">$Tytuł/Nazwa planu: {{ form.title }}</p>
      <button id="send" class="button btn btn-dark btn-sm" type="submit">$Dodaj nowy plan.</button>
      </form>
    {% endif %}
    </div>
    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->

{% endblock %}
{% endblock aside %}
