{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ plan.title }}</title>
{% endblock %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}
<br>
<br>
<br>
    <main role="main">
      <div class="row">
        <div class="col-md-7 plan-main">
          <div class="container">
            <h1 class="text-center pt-3 ">{{ plan.title }}</h1>
            <h4 class="pt-2">{{ plan.pubdate_short }}</h4>
            <br />

            {% if cr_len_warning %}
             <h4>Błąd: Ten płodozmian jest za krótki!</h4>
             <p>W płodozmianie znajdują się rośliny, które wymagają dłuższego zmianowania:</p>
             {% for crop in cr_len_warning %}
              <p><b>{{ crop.name }}</b></p>
             {% endfor %}
             <p>Usuń je lub dodaj więcej roślin.</p>
             <br />
            {% endif %}

            <!--Tutaj dawaj po kolei wszystkie elementy planu -->
            {% for step in steps %}
              {{ step.title }}
              {% for e_tab in efcs.e_tabs %}
              {% if step.order == e_tab %}
               <h2>Ten krok zawiera błędy!!!</h2>
              {% endif %}
              {% endfor %}
              {% if step.descr %}
              <p>{{ step.descr }}</p>
              {% endif %}
              {% if step.add_manure %}
               <p>Mały obrazek świadczący o tym, że <b>nawóz</b> dodano do tego kroku.</p>
               <p>Do tego onhover z informacją w dwóch językach, że chodzi o nawóz.</p>
              {% endif %}
              <h4>Plon wczesny/główny/ozimy z roku ubiegłego:</h4>
              {% for crop in step.early_crop.all %}

              {% for e_tab in efcs.e_tabs %}
              {% if step.order == e_tab %}
              {% if crop.id in efcs.e_crops %}
              <p><b>{{ crop.name }} - POWODUJE KOLIZJĘ!</b><p>
              {% else %}
              <p>{{ crop.name }}</p>
              {% endif %}
              {% endif %}
              {% endfor %}
                            <!--Tutaj idą dodatkowe cechy plonu głównego w tym rzeczy typu onhover -->
              {% endfor %}


              {% if step.late_crop %}
              <h4>Plon ozimy/międzyplon:</h4>
              {% for crop in step.late_crop.all %}
              {% for e_tab in efcs.e_tabs %}
              {% if step.order == e_tab %}
              {% if crop.id in efcs.e_crops %}
              <p><b>{{ crop.name }} - POWODUJE KOLIZJĘ!</b><p>
              {% else %}
              <p>{{ crop.name }}</p>
              {% endif %}
              {% endif %}
              {% endfor %}

                            <!--Tutaj idą dodatkowe cechy plonu głównego w tym rzeczy typu onhover -->
              {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div><!-- /.row -->

    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->
{% endblock %}
{% endblock aside %}
