{% extends 'base.html' %}
{% load static %}
{% load xfilters %}

{% block title %}
<title>{{ plan.title }}</title>
{% endblock %}

{% block css %}
<link href="{% static 'assets/css/crop_properties.css' %}" rel="stylesheet">
{% endblock css %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}
<br>
<br>
<br>
    <main role="main">
      <div class="row">
        <div class="col-md-12 plan-main">
          <div class="container">
            <h1 class="text-center pt-3 ">{{ plan.title }}</h1>
            <h4 class="pt-2">{{ plan.pubdate_short }}</h4>
            {% if user_editable %}
            <p><button class="btn btn-link-3 btn-light untoggle" value="0" name="safety_valve_event">{{ translatables.plan_remove }}</button></p>
            <div name="EventButtonHiddenDiv" class="toggle" style="display: none" value="0">
             <form name="EventDeleteForm" method="post" class="form form-inline"> <!-- Formularz usuwa wydarzenie -->
              {% csrf_token %}
              <p class="wnioski2">{{ translatables.remove_warning }} </p>
              <button class="btn btn-link-3 btn-light" name="delete_plan" type="submit">{{ translatables.remove_permanent }}</button>
              <button name="dont_delete_event" class="btn btn-link-3 btn-light" value="0">{{ translatables.dont_remove }}</button>
             </form> <!-- Koniec formularz usuwającego wydarzenie -->
            </div>
            <br />
            {% if plan.published %}
            <form name="UnpublishUserPlanForm" method="post" class="form form-inline"> <!-- Formularz usuwa wydarzenie -->
             {% csrf_token %}
             <p class="wnioski2">
               <button class="btn btn-link-3 btn-light" name="unpublish_plan" type="submit">{{ translatables.unpublish }}</button> -
               {{ translatables.unpublish_text }} *{{ translatables.unpublish_onhover }}.</p>
           </form>
            {% else %}
            <form name="PublishUserPlanForm" method="post" class="form form-inline"> <!-- Formularz usuwa wydarzenie -->
             {% csrf_token %}
             <p class="wnioski2"><button class="btn btn-link-3 btn-light" name="publish_plan" type="submit">
               {{ translatables.publish }}</button>{{ translatables.publish_text }} *{{ translatables.publish_onhover }}
             </p></form>
            {% endif %}
            {% if user.is_authenticated %}<button class="button btn btn-light btn-sm"><a href="{% url 'plan_evaluated' plan.id %}">$Ewaluacja</a></button>*$ Analizuje plan pod kątem błędów i kolizji.{% else %} Zaloguj się, żeby analizować plany.{% endif %}
            {% endif %}

            {% if cr_len_warning %}
              <h4>{{ translatables.error_len }}</h4>
              <p>{{ translatables.len_required }}:</p>
              {% for crop in cr_len_warning %}
                <p><b>{{ crop.name }}</b></p>
              {% endfor %}
              <p>{{ translatables.remove_or_add }}.</p>
              <br />
            {% endif %}

            {% if fertilized %}
            <p><b>{{ translatables.add_fertilizer_main }}</b> *{{ translatables.add_fertilizer_onhover_main }}</p>
            <br />
            {% endif %}

            {% if f_error %}
              <p>{{ translatables.in_this_plan }} <b>{{ f_error }}</b> {{ translatables.fabs_and }}.</p>
              <p>{{ translatables.should_be_fabs }}.</p>
            {% endif %}

            <!--Tutaj dawaj po kolei wszystkie elementy planu -->
            {% for step in steps %}

              <h1>
                {{ step.title }}
                {% if user_editable %}
                    <a href="{% url 'step' step.id %}"><button class="btn btn-link-3 btn-light">{{ translatables.editme }}</button></a>
                {% endif %}
              </h1>
              {% if step.descr %}
                <p>{{ step.descr }}</p>
              {% endif %}
              {% if user_editable %}
              <div class="row master0" value="1782">
                <div class="col-md-9" value="254">
                  <p class="slave0" value="test_slave0">{{ translatables.switch_text }}: <select class="selectables" name="step_selection">
                    <option value ="None" selected disabled>{{ translatables.option_select }}:</option>
                    {% for step2 in steps %}
                      {% if step2 != step %}
                        <option name="{{ step2.id }}" value ="{{ step2.order }}">{{ step2.title }}</option>
                      {% endif %}
                    {% endfor %}
                  </select></p>
                </div>
                <div class="col-md-3">
                  <p>
                  <button class="btn btn-link-3 btn-light" name="move_plan" value="{{ step.id }}" type="submit">{{ translatables.switch_places }}</button></p>
                </div>
              </div>
              <br>
                {% if step.order == top_tier %}
                <p><button class="btn btn-link-3 btn-light untoggle" value="0" name="safety_valve">{{ translatables.step_remove }}</button></p>
                <div name="ButtonHiddenDiv" class="toggle" style="display: none" value="0">
                 <form name="StepDeleteForm" method="post" class="form form-inline"> <!-- Formularz usuwa ostatni -->
                  {% csrf_token %}
                  <p class="wnioski2">{{ translatables.remove_warning }}</p>
                  <button class="btn btn-link-3 btn-light" name="delete_step" value="{{ step.id }}" type="submit">{{ translatables.remove_permanent }}</button>
                  <button name="dont_delete_event" class="btn btn-link-3 btn-light" value="0">{{ translatables.dont_remove }}</button>
                </form> <!-- Koniec formularza usywającego ostatni krok-->
                </div>
                {% endif %}
              {% endif %}




              <div class="row">
                {% if step.middle_crop.all %}
                <div class="col-md-4">
                {% else %}
                <div class="col-md-6">
                {% endif %}
                {% if step.early_crop.all %}
                  <h2>{{ translatables.early_crop }}:</h2>
                  {% for crop in step.early_crop.all %}
                    {% include 'strona/plan_parts/plan_step.html' %}
                  {% endfor %}
                {% endif %}
                </div>
              {% if step.middle_crop.all %}
                <div class="col-md-4">
                  <h2>{{ translatables.middle_crop }}:</h2>
                  {% for crop in step.middle_crop.all %}
                    {% include 'strona/plan_parts/plan_step.html' %}
                  {% endfor %}
              </div>
              {% endif %}
                  {% if step.middle_crop.all %}
                  <div class="col-md-4">
                  {% else %}
                  <div class="col-md-6">
                  {% endif %}
                  {% if step.late_crop.all %}
                  <h2>{{ translatables.late_crop }}:</h2>
                  {% for crop in step.late_crop.all %}
                    {% include 'strona/plan_parts/plan_step.html' %}
                  {% endfor %}
                {% endif %}
                </div>
              </div>
              <hr/>
            {% endfor %}

          </div>
        </div>
      </div><!-- /.row -->
      {% if user_editable and top_tier < admin_max_steps %}
      <div class="row"> <!-- Tutaj idzie dodawanie kolejnych kroków - widoczne tylko dla właściciela -->
        <div class="col-md-7 plan-main">
        <div class="container">
          <form name="AddNewStepForm" method="post"> <!-- Do wysyłania plików -->
          {% csrf_token %}

          <p class="wnioski2">{{ translatables.name_step }}: {{ form.title }}</p>
          <button class="button btn btn-dark btn-sm" name="next_step" type="submit">{{ translatables.new_step }}</button>
          </form>
        </div>
        </div>
      </div>
      {% endif %}

      <form id="SwitchStepsForm" name="move_plan" method="post" class="form form-inline"> <!-- Formularz usuwa wydarzenie -->
       {% csrf_token %}
         {{ form2.receiver_step }}
         {{ form2.sender_step }}
         {{ form2.receiver_step_order }}
      </form>

    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->
{% endblock %}
{% endblock aside %}

{% block scripts %}
<script>
$(".show_properties2").click(function(event){
    var button_triger = $(event.target);
    var closest = button_triger.closest("p").nextAll(".hidden_properties").first();
    $(closest).toggle();
 });
 </script>
  <script src="/static/assets/js/event_remove_safelock.js"></script>
  <script src="/static/assets/js/swap_steps.js"></script>
{% endblock scripts %}
