{% extends 'base.html' %}
{% load static %}
{% load xfilters %}

{% block title %}
<title>{{ plan.title }}</title>
{% endblock %}

{% block css %}
<link href="{% static 'assets/css/crop_properties.css' %}" rel="stylesheet">
{% endblock css %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}
<br>
<br>
<br>
    <main role="main">
      <div class="row">
        <div class="col-md-7 plan-main">
          <div class="container">
            <h1 class="text-center pt-3 ">{{ plan.title }}</h1>
            <h4 class="pt-2">{{ plan.pubdate_short }}</h4>
            {% if user_editable %}
            <p><button class="btn btn-link-3 btn-light untoggle" value="0" name="safety_valve_event">$Usuń plan</button></p>
            <div name="EventButtonHiddenDiv" class="toggle" style="display: none" value="0">
             <form name="EventDeleteForm" method="post" class="form form-inline"> <!-- Formularz usuwa wydarzenie -->
              {% csrf_token %}
              <p class="wnioski2">$Na pewno chcesz usunąć ten plan?</p>
              <button class="btn btn-link-3 btn-light" name="delete_plan" type="submit">$Tak usuń trwale!</button>
              <button name="dont_delete_event" class="btn btn-link-3 btn-light" value="0">$Nie usuwaj!</button>
             </form> <!-- Koniec formularz usuwającego wydarzenie -->
            </div>
            <br />
            {% if plan.published %}
            <form name="UnpublishUserPlanForm" method="post" class="form form-inline"> <!-- Formularz usuwa wydarzenie -->
             {% csrf_token %}
             <p class="wnioski2">
               <button class="btn btn-link-3 btn-light" name="unpublish_plan" type="submit">$Wycofaj!</button> -
               $Wycofaj plan z publikacji. *onhover(Nie będzie widoczny na stronie głównej i w spisie planów).</p>
           </form>
            {% else %}
            <form name="PublishUserPlanForm" method="post" class="form form-inline"> <!-- Formularz usuwa wydarzenie -->
             {% csrf_token %}
             <p class="wnioski2"><button class="btn btn-link-3 btn-light" name="publish_plan" type="submit">
               $Publikuj!</button>$Opublikuj plan. *onhover(Może zostać wylosowany na stronie głównej i będzie dostępny w spisie wszystkich planów).
               Uwaga: W związku z mechanizmem ograniczającym aktywność botów na stronie, wszystkie zmiany w publikowanych planach mogą być widoczne z poślizgiem do 24h.
             </p></form>
            {% endif %}
            {% endif %}

            {% if cr_len_warning %}
              <h4>Błąd: Ten płodozmian jest za krótki!</h4>
              <p>W płodozmianie znajdują się rośliny, które wymagają dłuższego zmianowania:</p>
              {% for crop in cr_len_warning %}
                <p><b>{{ crop.name }}</b></p>
              {% endfor %}
              <p>Usuń je i wybierz coś innego, lub dodaj więcej roślin.</p>
              <br />
            {% endif %}

            {% if f_error %}
              <p>W tym płodozmianie znajduje się <b>{{ f_error }}</b> bobowatych (w tym strączkowych).</p>
              <p>Powinno ich być między 25% a 33%.</p>
            {% endif %}

            <!--Tutaj dawaj po kolei wszystkie elementy planu -->
            {% for step in steps %}

              <h1>
                {{ step.title }}
                {% if user_editable %}
                    <a href="{% url 'step' step.id %}"><button class="btn btn-link-3 btn-light">$Edytuj!</button></a>
                {% endif %}
              </h1>
              {% if user_editable %}

              <p class="master0">Zamień z innym krokiem w planie:
              <button class="btn btn-link-3 btn-light" name="move_plan" value="{{ step.id }}" type="submit">$Zamień miejscami!</button></p>
              <p class="slave0" value="test_slave0">$Zamień z krokiem: <select class="selectables" name="step_selection">
                <option value ="None" disabled>$Wybierz opcję:</option>
                {% for step2 in steps %}
                  {% if step2 != step %}
                    <option name="{{ step2.id }}" value ="{{ step2.order }}">{{ step2.title }}</option>
                  {% endif %}
                {% endfor %}
              </select></p>
              <br>
                {% if step.order == top_tier %}
                <p><button class="btn btn-link-3 btn-light untoggle" value="0" name="safety_valve">$Usuń krok</button></p>
                <div name="ButtonHiddenDiv" class="toggle" style="display: none" value="0">
                 <form name="StepDeleteForm" method="post" class="form form-inline"> <!-- Formularz usuwa ostatni -->
                  {% csrf_token %}
                  <p class="wnioski2">$Na pewno chcesz usunąć ten krok?</p>
                  <button class="btn btn-link-3 btn-light" name="delete_step" value="{{ step.id }}" type="submit">$Tak usuń trwale!</button>
                  <button name="dont_delete_event" class="btn btn-link-3 btn-light" value="0">$Nie usuwaj!</button>
                </form> <!-- Koniec formularza usywającego ostatni krok-->
                </div>
                {% endif %}
              {% endif %}


              {% error_tab step_no=step.order as is_tab_error %}
              {% if is_tab_error %}
                <h5>Ten krok zawiera błędy!!!</h5>
              {% endif %}


              {% if step.descr %}
                <p>{{ step.descr }}</p>
              {% endif %}

              {% if step.early_crop %}
                <h2>Plon jary:</h2>
                {% for crop in step.early_crop.all %}
                  {% include 'strona/plan_parts/plan_step.html' %}
                {% endfor %}
              {% endif %}

              {% if step.late_crop %}
                <h2>Plon ozimy:</h2>
                {% for crop in step.late_crop.all %}
                  {% include 'strona/plan_parts/plan_step.html' %}
                {% endfor %}
              {% endif %}
              <hr/>
            {% endfor %}

          </div>
        </div>
      </div><!-- /.row -->
      {% if user_editable %}
      <div class="row"> <!-- Tutaj idzie dodawanie kolejnych kroków - widoczne tylko dla właściciela -->
        <div class="col-md-7 plan-main">
        <div class="container">
          <form name="AddNewStepForm" method="post"> <!-- Do wysyłania plików -->
          {% csrf_token %}

          <p class="wnioski2">$Tytuł/Nazwa kroku: {{ form.title }}</p>
          <button class="button btn btn-dark btn-sm" name="next_step" type="submit">$Dodaj nowy krok.</button>
          </form>
        </div>
        </div>
      </div>
      {% endif %}

      <form id="SwitchStepsForm" name="move_plan" method="post" class="form form-inline"> <!-- Formularz usuwa wydarzenie -->
       {% csrf_token %}
         {{ form2.receiver_step }}
         {{ form2.sender_step }}
         {{ form2.receiver_step_order }}
      </form>

    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->
{% endblock %}
{% endblock aside %}

{% block scripts %}
<script>
$(".show_properties2").click(function(event){
    var button_triger = $(event.target);
    var closest = button_triger.closest("p").nextAll(".hidden_properties").first();
    $(closest).toggle();
 });
 </script>
  <script src="/static/assets/js/event_remove_safelock.js"></script>
  <script src="/static/assets/js/swap_steps.js"></script>
{% endblock scripts %}
