{% extends 'base.html' %}
{% load static %}
{% load xfilters %}

{% block title %}
<title>{{ step.title }}</title>
{% endblock %}

{% block css %}
{% endblock css %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}
<br>
<br>
<br>
    <main role="main">
      <div class="row">
        <div class="col-md-12 plan-main">
          <div class="container">
            <h6 class="text-center pt-3 ">{{ translatables.u_edit_step_no }}{{ step.order }}:</h6>
            <h1 class="text-center pt-3 ">{{ step.title }}</h1>
            <form name="StepChangeForm" method="post" class="form form-inline"> <!-- Formularz usuwa wydarzenie -->
             {% csrf_token %}
              <p>{{ translatables.title }}: {{ form.title }}</p>
              <p>{{ translatables.descr }}: {{ form.descr }}</p>
              <p><button class="btn btn-link-3 btn-light" name="save_step_changes" type="submit">{{ translatables.change }}</button>
                 <button class="btn btn-link-3 btn-light"><a href="{% url 'plan' step.from_plan.id %}">{{ translatables.return_to_plan }}</a></button></p>
          </div>
          <div class="container">
              {% for button in buttons %}
                  {% orderlookup button=button as button_lookup %}
                  {% if button_lookup %}
                  {% for substep in substeps %}
                  {% if substep.order == button %}
                  {% include 'strona/step_parts/substep.html' %}
                  {% endif %}
                  {% endfor %}
                {% else %}
                <hr/>
                  <button class="btn btn-link-3 btn-light" inter_key="{{ button }}" name="add_substep_button">+
                    {% if button == 1 %}
                    {{ translatables.early_crop }}
                    {% elif button == 2 %}
                    {{ translatables.middle_crop }}
                    {% else %}
                    {{ translatables.late_crop }}
                    {% endif %}</button>
                {% endif %}
              {% endfor %}
              <input type="hidden" id="inter_key" name="inter_key" value=""/>
              <input type="hidden" id="inter_element" name="inter_element" value=""/>
            </form>
         </div>
        </div>
      </div>
    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->
{% endblock %}
{% endblock aside %}

{% block scripts %}
<script src="/static/assets/js/remove_elements.js"></script>
<script src="/static/assets/js/add_elements.js"></script>
<script src="/static/assets/js/remove_substep.js"></script>
<script src="/static/assets/js/add_substep.js"></script>
{% endblock scripts %}
