{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ family.name }}</title>
{% endblock %}

{% block css %}
<link href="{% static 'assets/css/crop_properties.css' %}" rel="stylesheet">
{% endblock css %}
 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}

<br>
<br>
<br>
    <main role="main">
      <div class="row">
        <div class="col-md-12 blog-main">
          <div class="container">
            <h1 class="text-center pt-3">{{ family.name }}</h1>
            <h4 class="text-center pt-2">{{ family.latin_name }}</h4>
            <h4 class="pt-2">{{ family.pubdate_short }}</h4>
            <hr />
            {% if family.image %}<!--jeśli jest link to go wyświetl -->
                <br/>
                <img class="img-fluid" src="{{ family.image.url }}" width=50% height=auto />
            {% endif %}
            <br />
            <p>{{ translatables.species }}:</p>
              <div class="container">
                <div class="row">
                  <hr />
                  <br />
                      <div class="col-md-4 shdwn">
                      {% with  master_slice1=ml1|stringformat:"s" %}
                      {% with  msl=":"|add:master_slice1 %}
                      {% for crop in house|slice:msl %}
                        <p><a href="{% url 'crop' crop.id %}">{{ crop.name }}</a></p>
                      {% endfor %}
                      {% endwith %}
                      {% endwith %}
                      </div>
                      <div class="col-md-4 shdwn">
                      {% with  master_slice1=ml1|stringformat:"s" %}
                      {% with  middleman=master_slice1|add:":" %}
                      {% with  master_slice2=ml2|stringformat:"s" %}
                      {% with  msl=middleman|add:master_slice2 %}
                      {% for crop in house|slice:msl %}
                        <p><a href="{% url 'crop' crop.id %}">{{ crop.name }}</a></p>
                      {% endfor %}
                      {% endwith %}
                      {% endwith %}
                      {% endwith %}
                      {% endwith %}
                      </div>
                      <div class="col-md-4 shdwn">
                      {% with  master_slice2=ml2|stringformat:"s" %}
                      {% with  msl=master_slice2|add:":" %}
                      {% for crop in house|slice:msl %}
                        <p><a href="{% url 'crop' crop.id %}">{{ crop.name }}</a></p>
                      {% endfor %}
                      {% endwith %}
                      {% endwith %}
                      </div>
                  <br />
                  </div>
                </div>
                <p>{{ translatables.descr }}: {% if family.descr %}{{ family.descr|linebreaksbr }}{% endif %}</p>
                {% for source in sources %}
                  {% if source.descr %}<p>{{ source.descr|linebreaksbr }}({{ forloop.counter }})</p>{% endif %}
                {% endfor %}
                <p>{{ translatables.sources }}:</p>
                  {% for source in sources %}
                    <p>({{ forloop.counter }}){{ source.at_data_string.part1 }}{% if source.pages_from %}
                      {% if source.pages_to %}pp. {{ source.pages_from }}-{{ source.pages_to }}
                      {% else %} p.{{ source.pages_from }}.
                      {% endif %}
                    {% endif %}</p>
                  {% endfor %}
                  <hr />
                  <h4 class="pt-2">{{ translatables.known_interactions }}</h4>
                  {% if crop_family_from %}
                  <p><b>{{ translatables.family_to_other }}:</b></p>
                  {% for interaction in crop_family_from %}
                    <p> {% if family.is_family_slave %}{{ family.family_master.name }} {% else %}{{ family.name }} {% endif %}
                      {% include 'strona/crop_parts/crop_interaction_from.html' %}
                      {% include 'strona/crop_parts/interaction_button.html' %}
                  {% endfor %}
                  {% endif %}
                  {% if crop_family_to %}
                  <p><b>{{ translatables.other_to_family }}:</b></p>
                  {% for interaction in crop_family_to %}
                      {% include 'strona/crop_parts/f_interaction_to.html' %}
                      {% include 'strona/crop_parts/interaction_button.html' %}
                  {% endfor %}
                  {% endif %}
            <br />
          </div>
        </div>
      </div><!-- /.row -->

    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->

{% endblock %}
{% endblock aside %}

{% block scripts %}
<script>
$(".show_properties2").click(function(event){
    var button_triger = $(event.target);
    var closest = button_triger.closest("p").nextAll(".hidden_properties").first();
    $(closest).toggle();
 });
 </script>
{% endblock scripts %}
