{% extends 'base.html' %}
{% load static %}
{% load xfilters %}

{% block title %}
<title>$ Uproszczony Panel Admina CR</title>
{% endblock %}

{% block css %}
{% endblock css %}

 <!-- Nullifikator bocznego menu z base.html Nie ruszaj tego, jak i end-taga!-->
{% block aside %}
<!-- Null -->
{% block body %}
<br>
<br>
<br>
    <main role="main">
      <div class="row">
        <div class="col-md-12 plan-main">
          <div class="container">
            <h6 class="text-center pt-3 ">$Uproszczony Panel Admina CR:</h6>
            <form name="CR_AdminForm" method="post" class="form form-inline"> <!-- Formularz usuwa wydarzenie -->
             {% csrf_token %}
              <p>$ Maksymalna ilość kroków w planie zmianowania: {{ form.max_steps }}</p>
              <p>$ Maksymalna ilość planów zmianowania na użytkownika: {{ form.max_user_plans }}</p>
              <p>$ Czas cachowania (w minutach) planów widzianych "z zewnątrz" ('lurk_plan'): {{ form.lurk_plan_cooldown }}</p>
              <p>$ Czas cachowania (w sekundach) planu po ewaluacji (przeciwdziała bezmyślnemu klikaniu) : {{ form.evaluated_plan_cooldown }}</p>
              <p><button class="btn btn-link-3 btn-light" name="save_changes" type="submit">$Zapisz zmiany</button></p>
            </form>

        </div>
        </div>
      </div>
    </main>
    <!-- empty div -->
      <div class="top-content">
        <div class="container">
      <div class="row">	<div class="col-sm-12 text wow fadeInLeft"></div></div>


    </div>
    </div>
    <!-- end of empty div -->
{% endblock %}
{% endblock aside %}

{% block scripts %}
{% endblock scripts %}
